<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.xtext.org/istic/mapUI/MapUI" 
       class = "org.xtext.istic.mapUI.mapUI.MapUIPackage"
       genModel = "model/generated/MapUI.genmodel" /> 
	
  </extension>



</plugin>
