<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mappingUI -->
      <package
            uri="www.google.fr"
            class="MMUI.MMUIPackage"
            genModel="model/mappingUI.genmodel"/>
   </extension>

</plugin>
